*Makefile
*Makefile.in
*.o
*.a
*.lo
*.la
*~
*m4
*.deps
*.libs
autom4te.cache/
*.tgz
config.log
config.status
cvconfig.h
description-pak
doc-pak/
libtool
opencv.pc
opencv.spec
*.deb
stamp-h1
INSTALL
autotools/config.guess
autotools/config.sub
autotools/ltmain.sh
autotools/depcomp
autotools/install-sh
autotools/missing
autotools/mkinstalldirs
configure
cvconfig.h.in
apps/haartraining/src/opencv-createsamples
apps/haartraining/src/opencv-haartraining
apps/haartraining/src/opencv-performance

apps/cvcaptest/opencv-cvcap
