*Makefile
*Makefile.in
*.lo
*.la
*~
*m4
*.deps
*.libs
autom4te.cache/
*.tgz
config.log
config.status
cvconfig.h
description-pak
doc-pak/
libtool
opencv.pc
opencv.spec
*.deb
stamp-h1
INSTALL
autotools/config.guess
autotools/config.sub
autotools/ltmain.sh
configure
cvconfig.h.in
